.home-con {
	width: 80%;
	height: 100%;
	left: 10%;
	top: 0;
	position: absolute;
}

.carousel {
	width: 100%;
	height: 580px;
	position: absolute;
	top: 62px;
	left: 0;
	overflow: hidden;
}

.frame {
	width: 200%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 1;
}

.frame .imgOn{
	display:none;		
	/*transform:translateX(-100px) translateY(0px);*/
	/*-webkit-transform:translateX(-100px) translateY(0px);*/	    
    /*transition:0.5s all else;*/	
}

.frame li {
	float: left;
	width: 50%;
	height: 100%;
	clear: both;
}

.frame-left {
	width: 40%;
	height: 100%;
	float: left;
	/*background: pink;*/
}

.frame-left-one {
	width: 100%;
	height: 161px;
	/*background: green;*/
	float: left;
}

.frame-left-two {
	width: 100%;
	height: 181px;
	/*background: pink;*/
	float: left;
}

.frame-left-two img {
	width: 100%;
	height: 181px;
	display: block;
}

.frame-left-three {
	width: 100%;
	height: 194px;
	/*background: green;*/
	float: left;
}

.one_title {
	float: right;
	font-size: 22px;
	line-height: 30px;
	margin: 20px 20px 0 20px;
	color: #2d2f30;
	font-family: "Microsoft Yahei", "Heiti SC", "Droid Sans", Arial;
}

.one-content {
	width: 299px;
	font-size: 14px;
	line-height: 25px;
	margin: 10px 20px 0 20px;
	float: right;
	text-align: right;
	font-family: "Microsoft Yahei", "Heiti SC", "Droid Sans", Arial;
}

.into {
	width: 70px;
	height: 22px;
	margin: 10px 20px 20px;
	float: right;
	background: red;
}

@-webkit-keyframes aa {
	0% {left: 25px;}
	50% {left: 31px;}
	100% {left: 25px;}
}
@-moz-keyframes aa {
	0% {left: 25px;}
	50% {left: 31px;}
	100% {left: 25px;}
}
@-o-keyframes aa {
	0% {left: 25px;}
	50% {left: 31px;}
	100% {left: 25px;}
}
@-ms-keyframes aa {
	0% {left: 25px;}
	50% {left: 31px;}
	100% {left: 25px;}
}
@keyframes aa {
	0% {left: 25px;}
	50% {left: 31px;}
	100% {left: 25px;}
}
#boxa{
	position: absolute;
	left: 25px;
	width: 15px;
	height: 8px;
	top: 7px;
}
#boxa{
	-webkit-animation: aa 1s infinite;	
	-moz-animation: aa 1s infinite;	
	-o-animation: aa 1s infinite;	
	-ms-animation: aa 1s infinite;	
	animation: aa 1s infinite;
} 

 .arrow2 {
    display: block;
    width: 70px;
    height: 22px;
    position: absolute;
    left: 86px;
    top: 160px;
    opacity: .6;
    border-radius: 3px;
    
}
.arrow_white1 {
    border: 1px solid #000;
    /* background: url("img/arrow_white.png") no-repeat center center; */
    background-size: 15px 8px;
}

.boult {
	display: block;
	width: 70px;
	height: 22px;
	position: absolute;
	left: 0;
	bottom: 0;
	opacity: 0.6;
	border-radius: 3px;
	-webkit-animation: imgC00 0.8s linear infinite alternate;
	animation: imgC00 .8s linear infinite alternate;
}

.boult_white {
	border: 1px solid #000;
	background-size: 15px 8px;
}


/*轮播第一块右边*/

.frame-right {
	width: 58%;
	height: 100%;
	/*background:yellow;*/
	float: left;
	margin-left: 5px;
}

.frame-right-one {
	width: 100%;
	height: 331px;
}

.frame-right-one img {
	width: 100%;
	height: 100%;
}

.frame-right-two {
	width: 100%;
	height: 178px;
	margin-top: 5px;
}

.rTwo-picture {
	width: 253px;
	height: 100%;
	float: left;
}

.rTwo-picture img {
	width: 100%;
	height: 100%;
	display: block;
}

.rTwo-con {
	width: 336px;
	height: 100%;
	float: left;
}

.one_title1 {
	float: left;
	font-size: 22px;
	line-height: 30px;
	margin: 20px 20px 0 20px;
	color: #2d2f30;
	font-family: "Microsoft Yahei", "Heiti SC", "Droid Sans", Arial;
}

.one-content1 {
	width: 299px;
	font-size: 14px;
	line-height: 25px;
	margin: 10px 20px 0 20px;
	float: right;
	text-align: left;
	font-family: "Microsoft Yahei", "Heiti SC", "Droid Sans", Arial;
}

.into2 {
	width: 70px;
	height: 22px;
	margin: 10px 20px 20px;
	float: left;
}

.frame_btn {
	position: absolute;
	top: 100px;
	right: -11%;
	z-index: 9;
}

.frame_btn .indexOn {
	opacity: 0.2;
}
.fBtn_left0 {
	position: relative;
	width: 39px;
	height: 30px;
	background: url(../images/sucai.png) -1979px -225px no-repeat;
	display: inline-block;
	overflow: hidden;
}

.fBtn_line {
	width: 100%;
	border-bottom: 1px solid #c9c9c9;
}

.fBtn_right {
	opacity: 1;
}

.fBtn_right0 {
	position: relative;
	width: 39px;
	height: 30px;
	background: url(../images/sucai.png) -1983px -137px no-repeat;
	display: inline-block;
	overflow: hidden;
}
.next_btn{
	position:fixed;
	left:50%;
	bottom:10px;
	width:60px;
	height:58px;
	z-index:9;	
}
.next_bg{
	width:60px;
	height:58px;
	position:absolute;
	display:inline-block;
	background:url(../images/sucai.png) -1720px -343px no-repeat;
	overflow: hidden;
}
#nextBtn_text{
	position:absolute;
	top:0;
	left:0;
}
.nextBtn_about{
	opacity:1;	
	background:url(../images/sucai.png) -1979px -167px no-repeat;	
}
.alike{
	position:absolute;
	top:0;
	left:0;
	overflow: hidden;	
	width:60px;
	height:58px;
	display:block;
}
.nextBtn_case{	
	opacity:0;
	background:url(../images/sucai.png) -1923px -321px no-repeat;	
}
.nextBtn_hire{	
	opacity:0;
	background:url(../images/sucai.png) -1923px -263px no-repeat;	
}
.nextBtn_case{	
	opacity:0;
	background:url(../images/sucai.png) -1526px -319px no-repeat;	
}
.nextBtn_top{	
	opacity:0;
	background:url(../images/sucai.png) -1729px -285px no-repeat;	
}