<div id="jj_about">
  <div class="yyy">
  <div class="jlunbo">
  
  <ul id="jull"> 
     <li class="jj_a"><!--第一个页面-->
       <div class="ylogo"><!--左边的大盒子-->
          <ul class="jr_1">
            <li class="ja_right"><img src="images/logo0_1.png"/></li>
            <li class="ja_right"><img src="images/logo1_1.png"/></li>
            <li><img src="images/logo2_1.png"/></li>
            <span class="jsp ja_right"><img src="images/logo0.png"/></span>
            <li class="ja_right"><img src="images/logo3_1.png"/></li>
            <li><img src="images/logo4_1.png"/></li>
            <li class="ja_right"><img src="images/logo5_1.png"/></li>
            <li><img src="images/logo6_1.png"/></li>
            <span class="jsp" style="border:0;"><img src="images/logo0.png"/></span>
            <span  style="border-bottom:0;" class="jsp ja_right"><img src="images/logo0.png"/></span>
            <li style="border:0;"><img src="images/logo7_1.png"/></li>
            <span class="jsp" style="border:0;"><img src="images/logo0.png"/></span>
          </ul> 
          
       </div><!--左边的大盒子-->
       <div class="yright"><!--右边的大盒子-->
          <div class="tcontent"><!--格子中的第一个公司介绍-->
             <i><img src="images/xq_logo0.png"/></i>
             <h2>华扬联众数字技术股份有限公司</h2>
             <b><img src="images/line.png"></b>
             <font>
             华扬联众数字技术股份有限公司（Hylink）的前身成立于1994年，自2002年以来一直专注于为客户提供互联网综合营销服务，目前已发展成为国内互联网营销领域内最具竞争力的领先企业。总部设在北京，于北京、上海、广州、深圳等主要城市设立分公司，业务遍及国内主要经济发达区域，同时，华扬联众亦先后在首尔、香港、洛杉矶设立办公室，拓展海外业务。近五年来，华扬联众在数据产品、内容出品等方向大力拓展，迅速成为行业标杆。<br/>
             多年来，华扬联众为国内外各行业领先客户提供数字整合解决方案，通过对策略、创意、媒介整合和行业发展的深度洞察，帮助他们在数字领域取得不断的成功。
             <br/>
             华扬联众曾多次荣膺国内及国际创意大赛的诸项殊荣，并两次选送代表入选戛纳广告节评审委员会。所占市场份额及营业规模均处于行业前列，秉承“以思创行”的理念，引领行业在创新中前行。
             </font>
          </div> <!--格子中的第一个公司介绍结束-->
         <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
        
          <div class="tcontent"><!--格子中的第二个公司介绍-->
             <i><img src="images/xq_logo1.png"/></i>
             <h2>华扬创想</h2>
             <b><img src="images/line.png"></b>
             <font>
           北京华扬创想广告有限公司（HIT）成立于2007年，作为华扬联众旗下两个代理服务品牌之一, 于2014年开始战略转型的华扬创想植根于数字媒体时代下快速发展变化的全球市场，秉持创新、专业、开放的理念，始终从准确把握消费者和市场入手，为合作伙伴提供全方位的市场营销解决方案和顾问咨询。基于在国内多年的市场传播经验和对未来的战略规划，华扬创想在2014年底成立了韩国分社，并在一年时间内与韩国政府（科技部、未来产业部、江原道府等）、国际组织（奥委会）、韩国经济支柱型商社（LG、CJ等）建立了战略合作发展关系。<br>稳打稳扎、保持对市场的高敏感度，以思创行，华扬创想与客户共同追求市场效益最大化为结果导向。
             </font>
          </div> <!--格子中的第二个公司介绍结束-->
          
            <div class="tcontent"><!--格子中的第三个公司介绍-->
             <i><img src="images/xq_logo2.png"/></i>
             <h2>旗帜创想</h2>
             <b><img src="images/line.png"></b>
             <font>
         北京旗帜创想科技发展有限公司（UniClick）成立于2006年，是一家专注于营销技术开发与应用的数字媒体广告技术公司，旗帜创想为数字媒体广告业提供广告管理、发布、程序化购买、监测，及基于大数据的广告效果评估、受众洞察分析与管理等方面的产品及解决方案。<br>旗帜创想高素质、专业化的技术团队和服务人员将继续协助客户从数字营销的商机中受益，进一步为华扬联众拓展中国数字营销市场助力。
             </font>
          </div> <!--格子中的第三个公司介绍结束-->
                    
          <div class="tcontent"><!--格子中的第四个公司介绍-->
             <i><img src="images/xq_logo3.png"/></i>
             <h2>旗帜传媒</h2>
             <b><img src="images/line.png"></b>
             <font>
       旗帜（上海）数字传媒有限公司，简称旗帜传媒（Authrule），成立于2010年，是国内领先的出品娱乐内容及提供娱乐营销服务的公司，核心业务围绕综艺节目、电影、互联网视频等内容领域的开发、投资及商业化运营；倡导内容为本，聚集国内外一流的文化娱乐资源，不断强化在内容创新商业化领域的核心竞争力，数年来打造出诸多经典作品和获奖商业案例；同时旗帜拥有基于内容与大数据的跨媒体视频广告投放平台“视线”，为广告主提供规模化、系统化、更加灵活的视频营销解决方案。<br>代表作：《出发吧爱情》、《喜马拉雅天梯》、《老人愿》、《因情圆缺》系列、《山上有棵圣诞树》、《成人记》等。
             </font>
          </div> <!--格子中的第四个公司介绍结束-->
          
          <div class="tcontent"><!--格子中的第五个公司介绍-->
             <i><img src="images/xq_logo4.png"/></i>
             <h2>派择网络</h2>
             <b><img src="images/line.png"></b>
             <font>
北京派择网络科技有限公司（PageChoice）创立于2007年，是国内最具竞争力的数字传播集团华扬联众旗下的全资子公司，是全网大数据营销服务及程序化广告的引领者。<br>作为数字广告业的大数据公司，派择科技率先引入最具商业推广价值的全网用户底层行为数据，并自主研发了一站式智能营销决策平台DataVenus。基于该平台，运营国内首个底层商业行为数据管理平台产品PageChioce Action、智能媒介决策系统PageChoice ADPlanner、程序化广告产品PageChoice DSP+以及以主流图片广告资源为主的跨屏魔图PMP等产品平台，实时解析用户搜索、评论、商品选购等每个有商业价值的网络动作，真正用大数据技术优化数字营销各个环节的实际产出。派择科技注重跨平台合作共同推动行业发展，携手Google共建SSP广告平台，成为国内首个与Google平台达成战略合作的数据营销公司；并与中国人民大学战略合作建立商业数据科学联合实验室，更深入系统地研究开发大数据在数字营销领域解析模式，以及数字广告应用规范，提升大数据营销应用水平，推动大数据商业价值真正规模性释放。<br>以数据技术创新为核心驱动力的数字营销模式，已经被越来越多的客户所认可。目前公司已服务上百家知名客户，遍及汽车、IT、快消、电商、金融、日化等各主流行业的领导品牌。营销案例与产品平台多次获得金投赏、广告节、TopDigital、金鼠标等行业大奖。“需求方平台大奖”、“数据管理营销大奖”、“大数据应用创新大奖”等一系列荣誉，见证了派择科技在专业领域不懈努力的丰硕成果。
             </font>
          </div> <!--格子中的第五个公司介绍结束-->
          
          <div class="tcontent"><!--格子中的第六个公司介绍-->
             <i><img src="images/xq_logo5.png"/></i>
             <h2>捷报指向科技有限公司</h2>
             <b><img src="images/line.png"></b>
             <font>
北京捷报指向科技有限公司（WizAd）成立于2007年，是在品牌无线营销领域最为领先的服务提供商。<br>捷报指向为广告主提供移动互联网媒介投放代理、无线营销咨询和策划、企业级无线服务以及数据库营销等服务和解决方案。<br>2014年，捷报指向成功研发并推出了“瞬网”二期平台，它是移动互联网广告新一代的程序化购买和运营平台，可以按照广告主的需求在线发布多样的展示广告，支持多种程序化购买方式，同时提供数据挖掘和高效快速的广告效果优化方案。<br>瞬网的技术标准完全符合2015年3月发布的《中国移动互联网广告标准》，是行业中具有前瞻性的广告产品。
             </font>
          </div> <!--格子中的第六个公司介绍结束-->
          
          <div class="tcontent"><!--格子中的第七个公司介绍-->
             <i><img src="images/xq_logo6.png"/></i>
             <h2>华扬数字营销研究院</h2>
             <b><img src="images/line.png"></b>
             <font>
华扬数字营销研究院（HDMR）是华扬联众数字技术股份有限公司下属专门从事数字营销领域前沿研究的机构。<br>研究院秉承“以思创行”的精神，为公司、广告主、市场及行业同业提供前瞻性的分享和传播沟通；帮助公司建立基于数字营销领域的发展模式、工具、战略思考以及产品模型。
             </font>
          </div> <!--格子中的第七个公司介绍结束-->
          
          <div class="tcontent"><!--格子中的第八个公司介绍-->
             <i><img src="images/xq_logo7.png"/></i>
             <h2>华扬联众区域营销公司</h2>
             <b><img src="images/line.png"></b>
             <font>
上海华扬联众数字技术有限公司（以下简称“上海华扬”），是国内领先的数字营销公司——华扬联众体系内从事区域数字营销的专业子公司，主要与各区域内知名和具有资源优势的互联网/数字媒体、营销公司进行合作，为区域内的客户提供跨媒体领域的整合营销服务及技术服务。截至目前，上海华扬已在上海、广州、成都、南京、长沙、西安、郑州、杭州、福州、沈阳、合肥等地设立了分公司或合资公司。
            </font>
          </div> <!--格子中的第八个公司介绍结束-->
                
       </div><!--右边的大盒子-->
     </li><!--第一个页面-->
     
     <li class="jj_a">
       <ol class="jye2">
         <li><img src="images/link0.png"/></li>
         <li><img src="images/link1_01.png"/></li>
         <li><img src="images/link1_02.png"/></li>
         <li><img src="images/link1_03.png"/></li>
         <li><img src="images/link1_04.png"/></li>
         <li><img src="images/link1_05.png"/></li>
         <li style="border-right:0;"><img src="images/link0.png"/></li>
         <li><img src="images/link1_06.png"/></li>
         <li><img src="images/link1_07.png"/></li>
         <li><img src="images/link1_08.png"/></li>
         <li><img src="images/link1_09.png"/></li>
         <li><img src="images/link1_10.png"/></li>
         <li><img src="images/link1_11.png"/></li>
         <li style="border-right:0;"><img src="images/link1_12.png"/></li>
         <li><img src="images/link1_13.png"/></li>
         <li><img src="images/link1_14.png"/></li>
         <li><img src="images/link1_15.png"/></li>
         <li><img src="images/link1_16.png"/></li>
         <li><img src="images/link1_17.png"/></li>
         <li><img src="images/link1_18.png"/></li>
         <li style="border-right:0;"><img src="images/link1_19.png"/></li>
         <li style="border-bottom:0;"><img src="images/link0.png"/></li>
         <li style="border-bottom:0;"><img src="images/link1_20.png"/></li>
         <li style="border-bottom:0;"><img src="images/link1_21.png"/></li>
         <li style="border-bottom:0;"><img src="images/link1_22.png"/></li>
         <li style="border-bottom:0;"><img src="images/link1_23.png"/></li>
         <li style="border-bottom:0;"><img src="images/link1_24.png"/></li>
         <li style="border:0;"><img src="images/link0.png"/></li>
       </ol>
     </li><!--第二个页面-->
     <li class="jj_a">
        <ol class="jye3">
          <li><img src="images/link0.png"/></li>
          <li><img src="images/link2_01.png"/></li>
          <li><img src="images/link2_02.png"/></li>
          <li><img src="images/link2_03.png"/></li>
          <li><img src="images/link2_04.png"/></li>
          <li><img src="images/link2_05.png"/></li>
          <li style="border-right:0;"><img src="images/link0.png"/></li>
          <li><img src="images/link2_06.png"/></li>
          <li><img src="images/link2_07.png"/></li>
          <li><img src="images/link2_08.png"/></li>
          <li><img src="images/link2_09.png"/></li>
          <li><img src="images/link2_10.png"/></li>
          <li><img src="images/link2_11.png"/></li>
          <li style="border-right:0;"><img src="images/link2_12.png"/></li>
          <li><img src="images/link2_13.png"/></li>
          <li><img src="images/link2_14.png"/></li>
          <li><img src="images/link2_15.png"/></li>
          <li><img src="images/link2_16.png"/></li>
          <li><img src="images/link2_17.png"/></li>
          <li><img src="images/link2_18.png"/></li>
          <li style="border-right:0;"><img src="images/link2_19.png"/></li>
          <li style="border-bottom:0;"><img src="images/link0.png"/></li>
          <li style="border-bottom:0;"><img src="images/link2_20.png"/></li>
          <li style="border-bottom:0;"><img src="images/link2_21.png"/></li>
          <li style="border-bottom:0;"><img src="images/link2_22.png"/></li>
          <li style="border-bottom:0;"><img src="images/link2_23.png"/></li>
          <li style="border-bottom:0;"><img src="images/link2_24.png"/></li>
          <li style="border:0;"><img src="images/link0.png"/></li>
        </ol>
     
     </li><!--第三个页面-->
     <li class="jj_a">
        <ol class="jye4">
          <li><img src="images/link0.png"/></li>
          <li><img src="images/link3_01.png"/></li>
          <li><img src="images/link3_02.png"/></li>
          <li><img src="images/link3_03.png"/></li>
          <li><img src="images/link3_04.png"/></li>
          <li><img src="images/link3_05.png"/></li>
          <li style="border-right:0;"><img src="images/link0.png"/></li>
          <li><img src="images/link3_06.png"/></li>
          <li><img src="images/link3_07.png"/></li>
          <li><img src="images/link3_08.png"/></li>
          <li><img src="images/link3_09.png"/></li>
          <li><img src="images/link3_10.png"/></li>
          <li><img src="images/link3_11.png"/></li>
          <li style="border-right:0;"><img src="images/link3_12.png"/></li>
          <li><img src="images/link0.png"/></li>
          <li><img src="images/link3_13.png"/></li>
          <li><img src="images/link3_14.png"/></li>
          <li><img src="images/link3_15.png"/></li>
          <li><img src="images/link3_16.png"/></li>
          <li><img src="images/link3_17.png"/></li>
          <li style="border-right:0;"><img src="images/link0.png"/></li>
          <li style="border-bottom:0;"><img src="images/link0.png"/></li>
          <li style="border-bottom:0;"><img src="images/link0.png"/></li>
          <li style="border-bottom:0;"><img src="images/link0.png"/></li>
          <li style="border-bottom:0;"><img src="images/link0.png"/></li>
          <li style="border-bottom:0;"><img src="images/link0.png"/></li>
          <li style="border-bottom:0;"><img src="images/link0.png"/></li>
          <li style="border:0;"><img src="images/link0.png"/></li>
        </ol>
     </li><!--第四个页面-->
  </ul><!--集团页面-->
  
  </div><!--轮播图结束-->
  </div>
  
  <div class="jzui-r">
  <ul id="jr-s">
    <li class="jtu1"><img src="images/sucai_07.png" style="padding-top:3px;"/></li>
    <li class="jtu2"><img src="images/sucai_03.png" style="margin-left:20px;padding-top:3px;"/></li>
  </ul>
  <div class="jr-x">
    <div class="jxia">
       <img src="images/xj.png" class="jjtu"/>
       <img src="images/sj.png" class="jjtu1" style="display:none"/>
    </div>
    <span class="jkehu">
       客户
    </span>
    <span class="jjituan">
      集团
    </span>
  </div>

  
  
  </div>
  
  </div><!--最大的div-->
  


