<div id="jj_about">
  <div class="lunbo">
  <ul id="ull"> 
     <li class="jj_a"><!--第一个页面-->
       <div class="ylogo"><!--左边的大盒子-->
          <ul class="r_1">
            <li class="a_right"><img src="images/logo0_1.png"/></li>
            <li class="a_right"><img src="images/logo1_1.png"/></li>
            <li><img src="images/logo2_1.png"/></li>
          </ul>
          <ul class="r_2">
            <li class="a_right"><img src="images/logo0.png"/></li>
            <li class="a_right"><img src="images/logo3_1.png"/></li>
            <li><img src="images/logo4_1.png"/></li>
          </ul>
          
          <ul class="r_3">
            <li class="a_right"><img src="images/logo5_1.png"/></li>
            <li><img src="images/logo6_1.png"/></li>
            <li style="border:0;"><img src="images/logo0.png"/></li>
          </ul> 
          
          <ul class="r_4">
            <li  style="border-bottom:0;" class="a_right"><img src="images/logo0.png"/></li>
            <li style="border:0;"><img src="images/logo7_1.png"/></li>
            <li style="border:0;"><img src="images/logo0.png"/></li>
          </ul> 
          
       </div><!--左边的大盒子-->
       <div class="right"><!--右边的大盒子-->
          <div class="tcontent">
             <i><img src="images/xq_logo0.png"/></i>
             <h2>华扬联众数字技术股份有限公司</h2>
             <b><img src="images/line.png"></b>
             <font>
             华扬联众数字技术股份有限公司（Hylink）的前身成立于1994年，自2002年以来一直专注于为客户提供互联网综合营销服务，目前已发展成为国内互联网营销领域内最具竞争力的领先企业。总部设在北京，于北京、上海、广州、深圳等主要城市设立分公司，业务遍及国内主要经济发达区域，同时，华扬联众亦先后在首尔、香港、洛杉矶设立办公室，拓展海外业务。近五年来，华扬联众在数据产品、内容出品等方向大力拓展，迅速成为行业标杆。<br/>
             多年来，华扬联众为国内外各行业领先客户提供数字整合解决方案，通过对策略、创意、媒介整合和行业发展的深度洞察，帮助他们在数字领域取得不断的成功。
             <br/>
             华扬联众曾多次荣膺国内及国际创意大赛的诸项殊荣，并两次选送代表入选戛纳广告节评审委员会。所占市场份额及营业规模均处于行业前列，秉承“以思创行”的理念，引领行业在创新中前行。
             </font>
          </div>       
       </div><!--右边的大盒子-->
     </li><!--第一个页面-->
     
     <li class="jj_a">
       <ol class="ye2">
         <li><img src="images/link0.png"/></li>
         <li><img src="images/link1_01.png"/></li>
         <li><img src="images/link1_02.png"/></li>
         <li><img src="images/link1_03.png"/></li>
         <li><img src="images/link1_04.png"/></li>
         <li><img src="images/link1_05.png"/></li>
         <li style="border-right:0;"><img src="images/link0.png"/></li>
         <li><img src="images/link1_06.png"/></li>
         <li><img src="images/link1_07.png"/></li>
         <li><img src="images/link1_08.png"/></li>
         <li><img src="images/link1_09.png"/></li>
         <li><img src="images/link1_10.png"/></li>
         <li><img src="images/link1_11.png"/></li>
         <li style="border-right:0;"><img src="images/link1_12.png"/></li>
         <li><img src="images/link1_13.png"/></li>
         <li><img src="images/link1_14.png"/></li>
         <li><img src="images/link1_15.png"/></li>
         <li><img src="images/link1_16.png"/></li>
         <li><img src="images/link1_17.png"/></li>
         <li><img src="images/link1_18.png"/></li>
         <li style="border-right:0;"><img src="images/link1_19.png"/></li>
         <li style="border-bottom:0;"><img src="images/link0.png"/></li>
         <li style="border-bottom:0;"><img src="images/link1_20.png"/></li>
         <li style="border-bottom:0;"><img src="images/link1_21.png"/></li>
         <li style="border-bottom:0;"><img src="images/link1_22.png"/></li>
         <li style="border-bottom:0;"><img src="images/link1_23.png"/></li>
         <li style="border-bottom:0;"><img src="images/link1_24.png"/></li>
         <li style="border:0;"><img src="images/link0.png"/></li>
       </ol>
     </li><!--第二个页面-->
     <li class="jj_a">
        <ol class="ye3">
          <li><img src="images/link0.png"/></li>
          <li><img src="images/link2_01.png"/></li>
          <li><img src="images/link2_02.png"/></li>
          <li><img src="images/link2_03.png"/></li>
          <li><img src="images/link2_04.png"/></li>
          <li><img src="images/link2_05.png"/></li>
          <li style="border-right:0;"><img src="images/link0.png"/></li>
          <li><img src="images/link2_06.png"/></li>
          <li><img src="images/link2_07.png"/></li>
          <li><img src="images/link2_08.png"/></li>
          <li><img src="images/link2_09.png"/></li>
          <li><img src="images/link2_10.png"/></li>
          <li><img src="images/link2_11.png"/></li>
          <li style="border-right:0;"><img src="images/link2_12.png"/></li>
          <li><img src="images/link2_13.png"/></li>
          <li><img src="images/link2_14.png"/></li>
          <li><img src="images/link2_15.png"/></li>
          <li><img src="images/link2_16.png"/></li>
          <li><img src="images/link2_17.png"/></li>
          <li><img src="images/link2_18.png"/></li>
          <li style="border-right:0;"><img src="images/link2_19.png"/></li>
          <li style="border-bottom:0;"><img src="images/link0.png"/></li>
          <li style="border-bottom:0;"><img src="images/link2_20.png"/></li>
          <li style="border-bottom:0;"><img src="images/link2_21.png"/></li>
          <li style="border-bottom:0;"><img src="images/link2_22.png"/></li>
          <li style="border-bottom:0;"><img src="images/link2_23.png"/></li>
          <li style="border-bottom:0;"><img src="images/link2_24.png"/></li>
          <li style="border:0;"><img src="images/link0.png"/></li>
        </ol>
     
     </li><!--第三个页面-->
     <li class="jj_a">
        <ol class="ye4">
          <li><img src="images/link0.png"/></li>
          <li><img src="images/link3_01.png"/></li>
          <li><img src="images/link3_02.png"/></li>
          <li><img src="images/link3_03.png"/></li>
          <li><img src="images/link3_04.png"/></li>
          <li><img src="images/link3_05.png"/></li>
          <li style="border-right:0;"><img src="images/link0.png"/></li>
          <li><img src="images/link3_06.png"/></li>
          <li><img src="images/link3_07.png"/></li>
          <li><img src="images/link3_08.png"/></li>
          <li><img src="images/link3_09.png"/></li>
          <li><img src="images/link3_10.png"/></li>
          <li><img src="images/link3_11.png"/></li>
          <li style="border-right:0;"><img src="images/link3_12.png"/></li>
          <li><img src="images/link0.png"/></li>
          <li><img src="images/link3_13.png"/></li>
          <li><img src="images/link3_14.png"/></li>
          <li><img src="images/link3_15.png"/></li>
          <li><img src="images/link3_16.png"/></li>
          <li><img src="images/link3_17.png"/></li>
          <li style="border-right:0;"><img src="images/link0.png"/></li>
          <li style="border-bottom:0;"><img src="images/link0.png"/></li>
          <li style="border-bottom:0;"><img src="images/link0.png"/></li>
          <li style="border-bottom:0;"><img src="images/link0.png"/></li>
          <li style="border-bottom:0;"><img src="images/link0.png"/></li>
          <li style="border-bottom:0;"><img src="images/link0.png"/></li>
          <li style="border-bottom:0;"><img src="images/link0.png"/></li>
          <li style="border:0;"><img src="images/link0.png"/></li>
        </ol>

     
     
     </li><!--第四个页面-->
  </ul><!--集团页面-->
  
  </div><!--轮播图结束-->
  
  <div class="zui-r">
  <ul id="r-s">
    <li class="tu1"><a href="#"><img src="images/sucai_07.jpg"/></a></li>
    <li class="tu2"><a href="#"><img src="images/sucai_03.jpg" style="margin-left:30px;z-index:1" id="btn"/></a></li>
  </ul>
  <div class="r-x">
    <div class="xia">
       <img src="images/xj.png"/>
    </div>
    <div class="kehu">
       客户
    </div>
    <div class="jituan">
      集团
    </div>
  </div>
  </div>
  
  
  
  
</div><!--最大的div-->
