<div class="w-box">
    <ul>
    	<li class="w-tu1">
            <div class="backgroundRed">
                <img src="images/w-tu1.jpg" alt="" class="w-t g">
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a>  
                <div class="bgOpact"></div>
            </div>
    		
            <div class="backgroundRed">
                <img src="images/w-tu2.jpg" alt="" class="w-t1 g">
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a> 
                <div class="bgOpact"></div>
            </div>

            <div class="backgroundRed">
                <img src="images/w-tu3.jpg" alt="" class="w-t2">
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a>  
                <div class="bgOpact"></div> 
            </div>
    	</li>
    	<li class="w-tu2">
            <div class="backgroundRed">
                <img src="images/w-tu4.png" alt="" class="w-t3">
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a>  
                <div class="bgOpact"></div> 
            </div>
    		<div class="backgroundRed">
                <img src="images/w-tu6.jpg" alt="" class="w-t4">
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a>  
                <div class="bgOpact"></div> 
            </div>
    	</li>
    	<li class="w-tu3">
            <div class="backgroundRed">
                <img src="images/w-tu7.jpg" alt="" class="w-t5">
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a>  
                <div class="bgOpact"></div> 
            </div>
    		<div class="backgroundRed">
                <img src="images/w-tu8.jpg" alt="" class="w-t6"> 
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a>  
                <div class="bgOpact"></div> 
            </div>
            <div class="backgroundRed">
                <img src="images/w-tu9.jpg" alt="" class="w-t7"> 
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a>  
                <div class="bgOpact"></div> 
            </div>
    		
    		
    	</li>
    	<li class="w-tu4">
            <div class="backgroundRed">
                <img src="images/w-tu10.jpg" alt="" class="w-t8">
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a>  
                <div class="bgOpact"></div> 
            </div>
            <div class="backgroundRed">
               <img src="images/w-tu11.jpg" alt="" class="w-t9"> 
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a>  
                <div class="bgOpact"></div> 
            </div>
    	</li>
        
    		<!-- <img src="images/w-tu12.jpg" alt="" class="w-t10">  
            <img src="images/w-tu13.jpg" alt="" class="w-t11">  
            <img src="images/w-tu14.jpg" alt="" class="w-t12">   -->
    	
    </ul>

</div>
