<div class="w-box">
    <ul>
    	<li class="w-tu1">
    		<img src="images/w-tu1.jpg" alt="" class="w-t">
	        <img src="images/w-tu2.jpg" alt="" class="w-t1">
	        <img src="images/w-tu3.jpg" alt="" class="w-t2">
    	</li>
    	<li class="w-tu2">
    		<img src="images/w-tu4.png" alt="" class="w-t3">
    		<img src="images/w-tu6.jpg" alt="" class="w-t4">
    	</li>
    	<li class="w-tu3">
    		<img src="images/w-tu7.jpg" alt="" class="w-t5">
    		<img src="images/w-tu8.jpg" alt="" class="w-t6"> 
    		<img src="images/w-tu9.jpg" alt="" class="w-t7"> 
    	</li>
    	<li class="w-tu4">
    		<img src="images/w-tu10.jpg" alt="" class="w-t8">
    		<img src="images/w-tu11.jpg" alt="" class="w-t9"> 
    		<img src="images/w-tu12.jpg" alt="" class="w-t10">  
    		<img src="images/w-tu13.jpg" alt="" class="w-t11">  
    		<img src="images/w-tu14.jpg" alt="" class="w-t12">  
    	</li>
    </ul>

</div>
