<div class="w-box">
    <ul>
    	<li class="w-tu1">
            <div class="backgroundRed">
                <img src="images/w-tu1.jpg" alt="" class="w-t g">
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a>  
                <div class="bgOpact"></div>

            </div>
    		
            <div class="backgroundRed">
                <img src="images/w-tu2.jpg" alt="" class="w-t1 g">
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a> 
                <div class="bgOpact"></div>
            </div>

            <div class="backgroundRed">
                <img src="images/w-tu3.jpg" alt="" class="w-t2">
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a>  
                <div class="bgOpact"></div> 
            </div>
    	</li>
    	<li class="w-tu2">
            <div class="backgroundRed">
                <img src="images/w-tu4.png" alt="" class="w-t3">
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a>  
                <div class="bgOpact"></div> 
                <div class="kuang"></div>
            </div>
    		<div class="backgroundRed">
                <img src="images/w-tu6.jpg" alt="" class="w-t4">
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a>  
                <div class="bgOpact"></div> 
                <div class="kuang"></div>
            </div>
    	</li>
    	<li class="w-tu3">
            <div class="backgroundRed">
                <img src="images/w-tu7.jpg" alt="" class="w-t5">
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a>  
                <div class="bgOpact"></div> 
            </div>
    		<div class="backgroundRed">
                <img src="images/w-tu8.jpg" alt="" class="w-t6"> 
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a>  
                <div class="bgOpact"></div> 
            </div>
            <div class="backgroundRed">
                <img src="images/w-tu9.jpg" alt="" class="w-t7"> 
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a>  
                <div class="bgOpact"></div> 
            </div>
    		
    		
    	</li>
    	<li class="w-tu4">
            <div class="backgroundRed">
                <img src="images/w-tu10.jpg" alt="" class="w-t8">
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a>  
                <div class="bgOpact"></div> 
                <div class="kuang"></div>
            </div>
            <div class="backgroundRed">
               <img src="images/w-tu11.jpg" alt="" class="w-t9"> 
                <a class="arrow_white arrow1"><img src="images/arrow_white.png" alt="" id="box"></a>  
                <div class="bgOpact"></div> 
                <div class="kuang"></div>
            </div>
    	</li>
        
    		<!-- <img src="images/w-tu12.jpg" alt="" class="w-t10">  
            <img src="images/w-tu13.jpg" alt="" class="w-t11">  
            <img src="images/w-tu14.jpg" alt="" class="w-t12">   -->
    	
    </ul>

</div>

<div id="id1" style="display:none">
    
    <div id="details">
        <div id="details_con">
            <div class="detCon_img">
                <img src="../images/w-tu6.jpg" alt="" />                
            </div>
            
            <div class="detCon_one">
                <div class="global_xq">
                    <div>
                        <p id="ap_title">雪佛兰</p>
                        <p id="ap_time">2016.01.08</p>
                    </div>
                </div>
                
                <p class="global_xq_title" style="position: absolute; padding-left: 140px; padding-top: 45px; top: 32px;">
                    <span id="global_title_text">雪佛兰高考专车</span>
                </p>
              
              
              <div id="global_xq_content" style="position:relative;top:118px;padding-bottom: 1px;">
                <span class="xq_line" style="margin-bottom:8px;margin-left: 140px;"></span>
                
                <div class="global_content_div" style="padding-top: 12px; margin:0 40px 140px 140px;font-size: 14px; line-height: 25px;">
                <p>
                    <iframe src="http://player.youku.com/embed/XMTM4ODg0MDY1Ng==" width="510" height="498" frameborder="0" allowfullscreen="allowfullscreen" style="height: 324.844px; pointer-events: auto;">
                        
                    </iframe>
                </p>
                <p>雪佛兰品牌致力于打造“奋斗中的年轻人和年轻家庭”的首选汽车品牌，彰显他们对未来美好生活的信心和追求。</p>
                <p>6月高考，是人生中最为重要的转折点。年轻人群即将走出家庭，奔向全新生活，为开创未来踏上新的征途。</p>
                <p>雪佛兰联合风靡全国的打车神器——快的APP，推出雪佛兰高考专车，免费为广大学子高考保驾护航，鼓励年轻群体积极勇敢地迎接人生的第一次挑战！</p>
                <p>利用雪佛兰植入热剧《虎妈猫爸》赞助，雪佛兰线下13个城市63个经销商组织100多辆雪佛兰全力配合，推出雪佛兰高考专车。</p>
                <p>
                    <img src="http://res.hylinkdigital.com/uploads/files/未标题-12.jpg" alt="" style="width: 100%; margin-bottom: 3px; margin-top: 3px;"/>
                </p>
                <p>
                    <img src="http://res.hylinkdigital.com/uploads/files/图4-5.jpg" alt="" style="width: 100%; margin-bottom: 3px; margin-top: 3px;"/>
                </p>
                <p>
                    <img src="http://res.hylinkdigital.com/uploads/files/图6-7.jpg" alt="" style="width: 100%; margin-bottom: 3px; margin-top: 3px;"/>
                </p>
                </div>
              </div>
              <div >
                
              </div>
            
            </div>
            
        </div>
    </div>

    <div class="delete">        
            <span class="delete_img"></span>
    </div>
</div>
