<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<div class="content">
		<div class="content-top">
			<div class="content-top-left">
				<img src="images/biao.jpg" alt="" id="t">
				<div class="pp" id="t2">
					<p>
					基于同全球领先数字媒体技术公司的合作，旗帜创想在面向中国市场推广其网络营销技术产品及方案的同时，也为客户提供本地化的支持；根据客户需求对这些产品和方案进行二次开发，更好地满足中国数字媒体市场的发展和需要。此外，通过深入洞察中国数字广告的特点，旗帜创想还自
				</p>
				<p>
					基于同全球领先数字媒体技术公司的合作，旗帜创想在面向中国市场推广其网络营销技术产品及方案的同时，也为客户提供本地化的支持；根据客户需求对这些产品和方案进行二次开发，更好地满足中国数字媒体市场的发展
				</p><p>
					基于同全球领先数字媒体技术公司的合作，旗帜创想在面向中国市场推广其网络营销技术产品及方案的同时，也为客户提供本地化的支持；根据客户需求对这些产品和方案进行二次开发，更好地满足中国数字媒体市场的发展和需要。此外，通过深入洞察中国数字广告的特点，旗帜创想还自行研发适用于中国数字媒体市场的产品及方案，旨在为客户提供更加全面完善的服务客户提供更加全面完善的服务客户提供更加全面完善的服务。
				</p>
				</div>				
				
			</div>
			<div class="content-top-right">
				<ul>
					<li><a href="#"><img src="images/logo1.jpg" alt="" id="t3"></a></li>
					<li><a href="#"><img src="images/logo2.jpg" alt="" id="t4"></a></li>
					<li><a href="#"><img src="images/logo3.jpg" alt="" id="t5"></a></li>
					<li><a href="#"><img src="images/logo4.jpg" alt="" id="t6"></a></li>	
					<li><a href="#"><img src="images/logo4.jpg" alt="" id="t8"></a></li>
					<li><a href="#"><img src="images/logo7.jpg" alt="" id="t9"></a></li>
					<li><a href="#"><img src="images/logo8.jpg" alt="" id="t10"></a></li>
					<li><a href="views/geng1.html"><img src="images/wz.jpg" alt="" id="t11"></a></li>					
				</ul>
			</div>
		</div>
		<div class="content-bottom">
			基于同全球领先数字媒体技术公司的合作，旗帜创想在面向中国市场
		</div>
	</div>
<script>
		var t
	function a() {
		document.getElementById("t").style.display = "block";
		clearInterval(t);
		t = setInterval(b, 200)
	}
	t = setInterval(a, 1000)
	function b() {
		document.getElementById("t2").style.display = "block";
		clearInterval(t);
		t = setInterval(c, 200)
	}
	function c() {
		document.getElementById("t3").style.display = "block";
		clearInterval(t);
		t = setInterval(d, 200)
	}
	function d() {
		document.getElementById("t4").style.display = "block";
		clearInterval(t);
		t = setInterval(e, 200)
	}
	function e() {
		document.getElementById("t5").style.display = "block";
		clearInterval(t);
		t = setInterval(f, 200)
	}

	function f() {
		document.getElementById("t6").style.display = "block";
		clearInterval(t);
		t = setInterval(g, 200)
	}

	function g() {
		document.getElementById("t8").style.display = "block";
		clearInterval(t);
		t = setInterval(h, 200)
	}
	function h() {
		document.getElementById("t9").style.display = "block";
		clearInterval(t);
		t = setInterval(i, 200)
	}
	function i() {
		document.getElementById("t10").style.display = "block";
		clearInterval(t);
		t = setInterval(j, 200)
	}
	function j() {
		document.getElementById("t11").style.display = "block";
		clearInterval(t);
	}
</script>
</body>
</html>