<div class="big_hire">
	 <div class="hire_l">
	 		<span class="hire_img">
	 			<img src="../images/hire_intro.jpg" />
	 		</span>
	 		<span class="entrance">
	 			<h1>华扬圈人计划<br />
	 				新互联网时代，你需要有备而来!
	 			</h1>
	 		</span>
	 </div>
	 <div class="hire_r">
	 		<ul>
	 			<li ng-repeat="i in data">
	 				<span ng-click="isshow($index)" style="font-size: 16px;">{{i.nav}}</span>
					<ol ng-if="i.subnav" ng-show="$index==index">
						<li ng-repeat="x in i.subnav" style="border: none;">{{x.snav}}</li>
					</ol>
					<i class="sanjiao"><img src="../images/sanjiao.png"/></i>
					<span class="apply" ng-show="$index==index">
						<p class="apply_l">我要申请</p>
						<i class="apply_c">
							<img src="../images/line.png" />
						</i>
						<i class="apply_r">
							<img src="../images/letter.png" />
						</i>
					</span>
	 			</li>
	 		</ul>
	 </div>
</div>


