<div class="big_hire">
	 <div class="hire_l">
	 		<span class="hire_img">
	 			<img src="../images/hire_intro.jpg" />
	 		</span>
	 		<span class="entrance">
	 			<h1>华扬圈人计划<br />
	 				新互联网时代，你需要有备而来!
	 			</h1>
	 		</span>
	 		<span class="entrance_l">社会招聘</span>
	 		<span class="entrance_r">校招入口</span>
	 </div>
	 <div class="hire_r">
 		<ul>
 			<li ng-repeat="i in data">
 				<span ng-click="isshow($index)" style="font-size: 16px;">{{i.nav}}</span>
				<ol ng-if="i.subnav" ng-show="$index==index">
					<li ng-repeat="x in i.subnav" style="border: none;">{{x.snav}}</li>
				</ol>
				<i class="sanjiao"><img src="../images/sanjiao.png"/></i>
				<span class="apply" ng-show="$index==index">
					<p class="apply_l">我要申请</p>
					<i class="apply_c">
						<img src="../images/line.png" />
					</i>
					<i class="apply_r">
						<img src="../images/letter.png" />
					</i>
				</span>
 			</li>
 		</ul>
	 </div>
</div>
<div class="hire_footer">
	<ul>
		<li class="arrow"><img src="../images/down_arrow.png"/></li>
		<li>职位</li>
		<li>城市</li>
		<li class="now">全国</li>
		<li><a ui-sref="company">更多</a></li>
	</ul>
</div>


