<div class="new_main">
	<div class="new_list_content">
		<ul class="new_list">
			<li>
				<div class="new_img1">
					<img class="new_img2" alt="" src="../images/new_t1.png"/>
				</div>			
				<div class="infor_box">
					<span>
						NEWS
					</span>
					<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
					<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
					<span class="infor_box_di"></span>
				</div>
			</li>
			<li>
				<div class="new_img1">
					<img class="new_img2" alt="" src="../images/new_t2.png"/>
				</div>			
				<div class="infor_box">
					<span>
						NEWS
					</span>
					<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
					<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
					<span class="infor_box_di"></span>
				</div>
			</li>
			<li>
				<div class="new_img1">
					<img class="new_img2" alt="" src="../images/new_t3.png"/>
				</div>			
				<div class="infor_box">
					<span>
						NEWS
					</span>
					<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
					<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
					<span class="infor_box_di"></span>
				</div>
			</li>
			<li>
				<div class="new_img1">
					<img class="new_img2" alt="" src="../images/new_t4.png"/>
				</div>			
				<div class="infor_box">
					<span>
						NEWS
					</span>
					<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
					<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
					<span class="infor_box_di"></span>
				</div>
			</li>
			<li>
				<div class="new_img1">
					<img class="new_img2" alt="" src="../images/new_t5.png"/>
				</div>			
				<div class="infor_box">
					<span>
						NEWS
					</span>
					<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
					<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
					<span class="infor_box_di"></span>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="new_ce_list">
	<ul>
		<li class="arrow"><img src="../images/down_arrow.png"/></li>
		<li>报告</li>
		<li>洞察</li>
		<li>新闻</li>
		<li class="new_active">全部</li>
	</ul>
</div>
<div class="new_foot">
	华扬联众数字技术股份有限公司 版权所有 京ICP备13019489号
</div>