<div class="new_main">
	<div class="new_list_content">
		<!--<ul class="new_list">			
			<li>
				<div class="new_img1">
					<img class="new_img2" alt="" src="../images/new_t5.png"/>
				</div>			
				<div class="infor_box">
					<span>
						NEWS
					</span>
					<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
					<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
					<span class="infor_box_di"></span>
				</div>
			</li>			
		</ul>-->
		<div class="swiper-container gallery-thumbs">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide" style="background-image: url(../images/new_t1.png)" id="bao">
		            <div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	            <div class="swiper-slide" style="background-image: url(../images/new_t2.png);" id="bao">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	            <div class="swiper-slide" style="background-image: url(../images/new_t3.png);" id="bao">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	            <div class="swiper-slide" style="background-image: url(../images/new_t4.png);" id="dong">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	            <div class="swiper-slide" style="background-image: url(../images/new_t5.png);" id="dong">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	            <div class="swiper-slide" style="background-image: url(../images/new_t6.png);" id="dong">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	            <div class="swiper-slide" style="background-image: url(../images/new_t7.png);" id="dong">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	            <div class="swiper-slide" style="background-image: url(../images/new_t8.png);" id="dong">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	            <div class="swiper-slide" style="background-image: url(../images/new_t9.png);" id="dong">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	            <div class="swiper-slide" style="background-image: url(../images/new_t10.png);" id="dong">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	            <div class="swiper-slide" style="background-image: url(../images/new_t11.png);" id="dong">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	            <div class="swiper-slide" style="background-image: url(../images/new_t12.png);" id="dong">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	            <div class="swiper-slide" style="background-image: url(../images/new_t13.png);" id="dong">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	            <div class="swiper-slide" style="background-image: url(../images/new_t14.png);" id="dong">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	            <div class="swiper-slide" style="background-image: url(../images/new_t15.png);" id="dong">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	            <div class="swiper-slide" style="background-image: url(../images/new_t16.png);" id="dong">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	            <div class="swiper-slide" style="background-image: url(../images/new_t17.png);" id="dong">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	            <div class="swiper-slide" style="background-image: url(../images/new_t18.png);" id="dong">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	            <div class="swiper-slide" style="background-image: url(../images/new_t19.png);" id="xin">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	             <div class="swiper-slide" style="background-image: url(../images/new_t20.png);" id="xin">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	             <div class="swiper-slide" style="background-image: url(../images/new_t21.png);" id="xin">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	             <div class="swiper-slide" style="background-image: url(../images/new_t22.png);" id="xin">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	             <div class="swiper-slide" style="background-image: url(../images/new_t23.png);" id="xin">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	             <div class="swiper-slide" style="background-image: url(../images/new_t24.png);" id="xin">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	             <div class="swiper-slide" style="background-image: url(../images/new_t25.png);" id="xin">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	             <div class="swiper-slide" style="background-image: url(../images/new_t26.png);" id="xin">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	             <div class="swiper-slide" style="background-image: url(../images/new_t27.png);" id="xin">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	             <div class="swiper-slide" style="background-image: url(../images/new_t28.png);" id="xin">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	             <div class="swiper-slide" style="background-image: url(../images/new_t29.png);" id="xin">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	             <div class="swiper-slide" style="background-image: url(../images/new_t30.png);" id="xin">
	            	<div class="infor_box">
						<span>
							NEWS
						</span>
						<p style="font-size: 24px; line-height: 30px;">“2017最具期待数字平台竞标晚宴”总成交额达1亿4620万元</p>
						<p style="font-size: 14px; line-height: 25px;">10月18日，由金投赏主办、华扬联众独家承办的“2017最具期待数字平台竞标晚宴”，最终总成交额高达1亿4620万元。</p>
						<span class="infor_box_di"></span>
					</div>
	            </div>
	        </div>
   		</div>
   		
	</div>
</div>
<div class="new_ce_list">
	<ul>
		<li class="arrow">
			<img id="new_d1" src="../images/down_arrow.png"/ >
			<img id="new_d2" src="../images/down_arrow2.png"/ style="display: none;">
		</li>
		<li>报告</li>
		<li>洞察</li>
		<li>新闻</li>
		<li class="new_active">全部</li>
	</ul>
</div>
<div class="new_foot">
	华扬联众数字技术股份有限公司 版权所有 京ICP备13019489号
</div>
<script>
	var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 25,//margin 间隔
        centeredSlides: true, 
        slidesPerView: 'auto',//设置容器存放量
        loop:true, //设置轮播是否循环
        touchRatio: 1,//鼠标是否与视图同步
        slideToClickedSlide: true
    });
</script>