<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>HYLZ</title>
		<link rel="stylesheet" href="../styles/reset.css" />
		<link rel="stylesheet" href="../styles/login_hy.css" />
	</head>
	<body>
		<div id="header">
			<div class="head">
				<p class="logo"><img src="../images/login_05_01.jpg"/></p>
				<p class="page_title">华扬联众集团办公管理平台</p>
			</div>
		</div>
		<div id="content">
			<div class="content_co">
				<div class="content_co_img"><img src="../images/login_10.jpg"/></div>
				<div class="login_box">
					<div class="login_title">
						用户登陆 / Login
						<p class="login_line"><span style="background:#f7921e"></span><span style="background:#e4e4e4"></span></p>
					</div>
					
					<div class="login_input">
						<p class="input_one">
							<span class="input_ico">
								<img src="../images/login_5_03.jpg" alt="" />
							</span>
							<input type="text" placeholder="用户名" /></p>
						<p class="input_one" style="margin-top:20px;">
							<span class="input_ico">
								<img src="../images/login_5_06.jpg" alt="" />
							</span>
							<input type="text" placeholder="密　码" /></p>
					
					    <p class="xuan"><input type="checkbox"/>记住我</p>
					    <input type="button" value="登陆" class="submit"/>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<p>
                    系统推荐使用Chrome浏览器,支持IE11,Sogou,Safari 浏览器 <a class="fuwu_call">全国服务热线：8888</a></p>
			<p>Copyright © 2015 Hylink & InfoShip</p>
		</div>
	</body>
</html>
