<div class="home-con">
	<!--<img src="../images/bg1.png" alt="bg" class="content-bg" />-->
	<div class="carousel">		
			 <ul class="frame">
			 	 <li>
			 	 	  <div class="frame-left ba_active">
			 	 	  	<div class="frame-left-one">
			 	 	  		  <p class="one_title">
			 	 	 雪佛兰高考专车 		  	
			 	 	  		  </p>
			 	 	  		  <p class="one-content">雪佛兰联合打车神器快的APP，推出雪佛兰高考专车，免费为广大学子高考保驾护航，鼓励…</p>
			 	 	  		  
			 	 	  		  <p class="into"><a class="arrow_white1 arrow2"><img src="images/arrow_black.png" alt="" class="a-box"></a></p>
			 	 	  	</div>
			 	 	  
				 	 	  <div class="frame-left-two">
				 	 	 <img src="../images/1_2_pic.jpg" alt="" /> 	
				 	 	  </div>
				 	 	  <div class="frame-left-three">
				 	 	  <p class="one_title">
			 	 	别克BIP最后的<br/>曙光Last Light 		  	<!--HDMR发布2016<br />数字营		5销行动报告-->
			 	 	  		  </p>
			 	 	  		  <p class="one-content">这是一部聚焦移动端，在掌上就能体验的的美式科幻游戏Html5巨制…</p>
			 	 	  		  <p class="into"><a class="arrow_white1 arrow2"><img src="images/arrow_black.png" alt="" class="a-box"></a></p>
				 	 	  </div>
				 	 	  
			 	 	  </div>
			 	 	  
			 	 	  <div class="frame-right">
			 	 	  	<div class="frame-right-one"><img src="../images/1_0_pic.jpg" alt="" /></div>
			 	 	  	<div class="frame-right-two">
			 	 	  	<div class="rTwo-picture"><img src="../images/1_1_pic.jpg" alt="" /></div>	
			 	 	  	<div class="rTwo-con">
			 	 	  	<p class="one_title1">
			 	 	珍宝珠炫果豆子<br/>“逗比秀一秀”
			 	 	  		  </p>
			 	 	  		  <p class="one-content1">珍宝珠炫果豆子新品上市，希望借助一个全国性的互联网活动迅速建立新品知名度，并使用受…</p>
			 	 	  		  <p class="into2"> <a class="arrow_white1 arrow2"><img src="images/arrow_white.png" alt="" id="boxa"></a></p>	
			 	 	  		  <p class="into2"><a class="arrow_white1 arrow2"><img src="images/arrow_black.png" alt="" class="a-box"></a></p>	
			 	 	  	</div>
			 	 	  	
			 	 	  	</div>
			 	 	  </div>
			 	 	  
			 	 </li>
			 	 <li class="imgOn">
			 	 	<div class="frame-left">
			 	 		
			 	 	  	<div class="frame-left-one">
			 	 	  		  <p class="one_title">
			 	 	 《蜜蜂少女队》首播告捷	
			 	 	  		  </p>
			 	 	  		  <p class="one-content">浙江卫视周末黄金档强势上线的《蜜蜂少女队》首播告捷受到全国观众的广泛关注…</p>
			 	 	  		  
			 	 	  		  <p class="into"><a class="arrow_white1 arrow2"><img src="images/arrow_black.png" alt="" class="a-box"></a></p>
			 	 	  	</div>
			 	 	  
				 	 	  <div class="frame-left-two">
				 	 	 <img src="../images/2_2_pic.jpg" alt="" /> 	
				 	 	  </div>
				 	 	  <div class="frame-left-three">
				 	 	  <p class="one_title">
			 	 	HDMR发布2016<br/>数字营销行动报告 		  
			 	 	  		  </p>
			 	 	  		  <p class="one-content">HDMR发布2016数字营销行动报告，解读消费者进化的7种方式…</p>
			 	 	  		  <p class="into"><a class="arrow_white1 arrow2"><img src="images/arrow_black.png" alt="" class="a-box"></a></p>
				 	 	  </div>
				 	 	  
				 	 	  
			 	 	  </div>
			 	 	  
			 	 	  <div class="frame-right">
			 	 	  	<div class="frame-right-one"><img src="../images/2_0_pic.jpg" alt="" /></div>
			 	 	  	<div class="frame-right-two">
			 	 	  	<div class="rTwo-picture"><img src="../images/2_1_pic.jpg" alt="" /></div>	
			 	 	  	<div class="rTwo-con">
			 	 	  	<p class="one_title1">
			 	 	华扬联众与俄罗斯<br/>传媒集团ADV战略合作 		  	
			 	 	  		  </p>
			 	 	  		  <p class="one-content1">2月26日，华扬联众与俄罗斯传媒集团ADV的战略合作签约仪式在北京瑞吉酒店举行…</p>
			 	 	  		  <p class="into2"><a class="arrow_white1 arrow2"><img src="images/arrow_black.png" alt="" class="a-box"></a></p>	
			 	 	  	</div>
			 	 	  	
			 	 	  	</div>
			 	 	  </div>
			 	 	
			 	 </li>			 	
			 </ul>			 			
	</div>
	 <ul class="frame_btn">
			 	<li class="afBtn fBtn_left indexOn">
			 		<span class="fBtn_left0"></span>
			 	</li>
			 	<li class="fBtn_line">
			 		
			 	</li>
			 	<li class="afBtn fBtn_right">
			 		<span class="fBtn_right0"></span>
			 	</li>
			 </ul>
			 
			 <div class="next_btn">
			 	<span class="next_bg"></span>
			 	<div id="nextBtn_text">
			 		<span id="next_img0" class="nextBtn_about alike"></span>
			 		<span id="next_img1" class="nextBtn_case alike"></span>
			 		<span id="next_img2" class="nextBtn_hire alike"></span>
			 		<span id="next_img3" class="nextBtn_news alike"></span>
			 		<span id="next_img4" class="nextBtn_top alike"></span>
			 	</div>
			 </div>
</div>

 <div id="covered">
 	
 </div>