<div class="home-con" id="next0">
	<!--<img src="../images/bg1.png" alt="bg" class="content-bg" />-->
	<div class="carousel">
		<ul class="frame">
			<li>
				<div class="frame-left ba_active">
					<div class="frame-left-one">
						<p class="one_title">
							雪佛兰高考专车
						</p>
						<p class="one-content">雪佛兰联合打车神器快的APP，推出雪佛兰高考专车，免费为广大学子高考保驾护航，鼓励…</p>

						<p class="into">
							<a class="arrow_white1 arrow2"><img src="images/arrow_black.png" alt="" class="a-box"></a>
						</p>
					</div>

					<div class="frame-left-two">
						<img src="../images/1_2_pic.jpg" alt="" />
					</div>
					<div class="frame-left-three">
						<p class="one_title">
							别克BIP最后的<br/>曙光Last Light
							<!--HDMR发布2016<br />数字营		5销行动报告-->
						</p>
						<p class="one-content">这是一部聚焦移动端，在掌上就能体验的的美式科幻游戏Html5巨制…</p>
						<p class="into">
							<a class="arrow_white1 arrow2"><img src="images/arrow_black.png" alt="" class="a-box"></a>
						</p>
					</div>

				</div>

				<div class="frame-right">
					<div class="frame-right-one"><img src="../images/1_0_pic.jpg" alt="" /></div>
					<div class="frame-right-two">
						<div class="rTwo-picture"><img src="../images/1_1_pic.jpg" alt="" /></div>
						<div class="rTwo-con">
							<p class="one_title1">
								珍宝珠炫果豆子<br/>“逗比秀一秀”
							</p>
							<p class="one-content1">珍宝珠炫果豆子新品上市，希望借助一个全国性的互联网活动迅速建立新品知名度，并使用受…</p>
							<p class="into2">
								<a class="arrow_white1 arrow2"><img src="images/arrow_black.png" alt="" class="a-box"></a>
							</p>
						</div>

					</div>
				</div>

			</li>
			<li class="imgOn">
				<div class="frame-left">

					<div class="frame-left-one">
						<p class="one_title">
							《蜜蜂少女队》首播告捷
						</p>
						<p class="one-content">浙江卫视周末黄金档强势上线的《蜜蜂少女队》首播告捷受到全国观众的广泛关注…</p>

						<p class="into">
							<a class="arrow_white1 arrow2"><img src="images/arrow_black.png" alt="" class="a-box"></a>
						</p>
					</div>

					<div class="frame-left-two">
						<img src="../images/2_2_pic.jpg" alt="" />
					</div>
					<div class="frame-left-three">
						<p class="one_title">
							HDMR发布2016<br/>数字营销行动报告
						</p>
						<p class="one-content">HDMR发布2016数字营销行动报告，解读消费者进化的7种方式…</p>
						<p class="into">
							<a class="arrow_white1 arrow2"><img src="images/arrow_black.png" alt="" class="a-box"></a>
						</p>
					</div>

				</div>

				<div class="frame-right">
					<div class="frame-right-one"><img src="../images/2_0_pic.jpg" alt="" /></div>
					<div class="frame-right-two myHe_ac">
						<div class="rTwo-picture"><img src="../images/2_1_pic.jpg" alt="" /></div>
						<div class="rTwo-con">
							<p class="one_title1">
								华扬联众与俄罗斯<br/>传媒集团ADV战略合作
							</p>
							<p class="one-content1">2月26日，华扬联众与俄罗斯传媒集团ADV的战略合作签约仪式在北京瑞吉酒店举行…</p>
							<p class="into2">
								<a class="arrow_white1 arrow2"><img src="images/arrow_black.png" alt="" class="a-box"></a>
							</p>
						</div>

					</div>
				</div>

			</li>
		</ul>
	</div>
	<ul class="frame_btn">
		<li class="afBtn fBtn_left indexOn">
			<span class="fBtn_left0"></span>
		</li>
		<li class="fBtn_line">

		</li>
		<li class="afBtn fBtn_right">
			<span class="fBtn_right0"></span>
		</li>
	</ul>

	
</div>

<div id="covered" style="display:none">
	
	<div class="covered_con" style="display:none">
 	<div id="details">
		<div id="details_con">
            <div class="detCon_img">
 				<img src="../images/w-tu6.jpg" alt="" /> 				
 			</div>
 			
 			<div class="detCon_one">
 				<div class="global_xq">
 					<div>
 						<p id="ap_title">雪佛兰</p>
 						<p id="ap_time">2016.01.08</p>
 					</div>
 				</div>
 				
 				<p class="global_xq_title" style="position: absolute; padding-left: 140px; padding-top: 45px; top: 32px;">
 					<span id="global_title_text">雪佛兰高考专车</span>
 				</p>
 			  
 			  
 			  <div id="global_xq_content" style="position:relative;top:118px;padding-bottom: 1px;">
 			  	<span class="xq_line" style="margin-bottom:8px;margin-left: 140px;"></span>
 			  	
 			  	<div class="global_content_div" style="padding-top: 12px; margin:0 40px 140px 140px;font-size: 14px; line-height: 25px;">
 			  	<p>
 			  		<iframe src="http://player.youku.com/embed/XMTM4ODg0MDY1Ng==" width="510" height="498" frameborder="0" allowfullscreen="allowfullscreen" style="height: 324.844px; pointer-events: auto;">
 			  			
 			  		</iframe>
 			  	</p>
 			  	<p>雪佛兰品牌致力于打造“奋斗中的年轻人和年轻家庭”的首选汽车品牌，彰显他们对未来美好生活的信心和追求。</p>
 			  	<p>6月高考，是人生中最为重要的转折点。年轻人群即将走出家庭，奔向全新生活，为开创未来踏上新的征途。</p>
 			  	<p>雪佛兰联合风靡全国的打车神器——快的APP，推出雪佛兰高考专车，免费为广大学子高考保驾护航，鼓励年轻群体积极勇敢地迎接人生的第一次挑战！</p>
 			  	<p>利用雪佛兰植入热剧《虎妈猫爸》赞助，雪佛兰线下13个城市63个经销商组织100多辆雪佛兰全力配合，推出雪佛兰高考专车。</p>
 			  	<p>
 			  		<img src="http://res.hylinkdigital.com/uploads/files/未标题-12.jpg" alt="" style="width: 100%; margin-bottom: 3px; margin-top: 3px;"/>
 			  	</p>
 			  	<p>
 			  		<img src="http://res.hylinkdigital.com/uploads/files/图4-5.jpg" alt="" style="width: 100%; margin-bottom: 3px; margin-top: 3px;"/>
 			  	</p>
 			  	<p>
 			  		<img src="http://res.hylinkdigital.com/uploads/files/图6-7.jpg" alt="" style="width: 100%; margin-bottom: 3px; margin-top: 3px;"/>
 			  	</p>
 			  	</div>
 			  </div>
 			  <div >
 			  	
 			  </div>
 			
 			</div>
 			
		</div>				   	   
 	</div>
		<div class="delete"> 		
 			<span class="delete_img"></span>
 	    </div>
	</div>

	<div id="huan" style="display:none">
		<span style="background:#D2851F;" id="first"></span>
		<span style="background:#9EC56D;" id="second"></span>
		<span style="background:#BA4839" id="third"></span>
		<span style="background:#499ACD" id="fore"></span>
		<span style="background:#8F5296" id="five"></span>
		<span style="background:#83B3B5" id="six"></span>
	</div>
</div>